{% extends "base.html" %} 
{% block title %}Home{% endblock %} <!--We overrwrote this block here from base.html and the title changes-->
{% block content%}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">{{ note.data }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})"><!--We create a function in javascript called deleteNote in index.js file that passes the note.id and requests the backend to delete the Note-->
            <span area-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
    
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>

    </div>
</form>


{% endblock %}
